PORT=4000
DB_HOST=localhost
DB_USER=root
DB_PASS=contrasena_de_tu_base_de_datos
DB_NAME=rutadelcafebdd
DB_PORT=3306
JWT_SECRET=supersecretkey
SEED_ON_START=false

# Origenes permitidos separados por coma
CORS_ORIGIN=http://localhost:5173

# Para los emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_usuario_de_email
SMTP_PASS=tu_contraseña_de_email

# URL del frontend admin (para armar el link)
# Si tu Vite corre en http://localhost:5173 y las rutas de admin empiezan en /admin:
ADMIN_FRONTEND_URL=http://localhost:5173