# MySQL
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=rutadelcafebdd
MYSQL_PORT=3306

# Backend
BACKEND_PORT=4000
JWT_SECRET=supersecretkey
ADMIN_FRONTEND_URL=http://localhost:5173

# Panel admin (URL que usa el navegador para llamar a la API)
VITE_API_URL=http://localhost:4000/api
FRONTEND_PORT=5173

# phpMyAdmin
PHPMYADMIN_PORT=8080
